*.cmti
*.cmx
*~
*.cmo
*.cmi
*.o
*.cmt
*.annot
*.cma
*.cmxa
*.so
*.a
*.install
*.objdump
/a.out
/unused
/Codex.cmxs
/Codex_DEP
/doc/slides*.vrb
/test/hostname*
/doc/slides.pdf
*_additional_notes.txt
/test/unused
/doc/*.org
/test/*.c
/deps.dot
/depsred.dot
/tests/*.diff
/tests/*.sav
unused/
/reduce.sh
/test.c
/.depend
/maybe/
/frama-c/.Makefile.plugin.generated
/frama-c/.depend
/frama-c/CodexPlugin.check_mli_exists
/frama-c/CodexPlugin.mli
/frama-c/META.frama-c-codex
/frama-c/META.frama-c-codexplugin
frama-c/top/*
/ext/framac_ival/dllc_bindings.so
/_build/
/tests/vmcai2022/liSemanticDirected2017/*.alarms
*-junit.xml
/frama_c_codex.exe
/binsec_codex.exe
/ext/frama_c_with_cudd/frama-c-*
/bin_trace.codex

__pycache__
.mypy_cache
.ruff_cache
.manage-py-config.json
.saves
*.stats.txt
*.log

/utils/gui/assets/
_opam
/utils/gui/deps/js/bundle-output.js
/utils/gui/deps/js/bundle-output.min.js
/utils/gui/deps/js/node_modules/
/utils/gui/deps/js/package-lock.json
/utils/gui/deps/tailwind4.1.5.css
/utils/gui/deps/graphviz.umd.js
flake.lock

.vscode
/tests/types/tmp.typedc
/tests/types/*.html
